{{film.id}}
<section id="about1" class="about1-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4"></h2>
          <p class="text-white-50"></p>
        </div>
      </div>
    </div>
  </section>

<div class="d-inline-flex bd-highlight col-md-12">
      <img src="{{film.image}}" src-fallback="https://newdynamicworld.files.wordpress.com/2016/05/fondo-pelicula.jpg" class="col-xs-12 col-md-2" id="fotoFilm">
      <div  class="col-xs-12 col-md-10">
        <h1 class="text-success"><em>{{film.title}}</em></h1>
        <h2><strong>Estudio:&nbsp;&nbsp; </strong> {{film.studio}}</h2>
        <h3 id="resultadoh2">Sinopsis:&nbsp;&nbsp; <em>{{film.sinopsis}}</em></h3>
        <h3><strong>Puntuación:&nbsp;&nbsp; </strong> {{film.score}}</h3>
        <h4><strong>Capítulos:&nbsp;&nbsp; </strong> {{film.chapters}}</h4>
        <h4><strong>Duración:&nbsp;&nbsp; </strong> {{film.duration}}</h4>
        <h4><strong>Debut:&nbsp;&nbsp; </strong> {{film.debut}}</h4>
        <h4><strong>Género:&nbsp;&nbsp; </strong> {{film.genre_id}}</h4>
        <h4><strong>Estado de la Película:&nbsp;&nbsp; </strong> {{film.state_id}}</h4>

        <button type="button" class="btn btn-outline-info" (click)="goBack()" id="btnVolver"><img src=".\assets\images\undo16.png"> Volver</button>

        <button type="button" class="btn btn-outline-warning" (click)="openEdit(editContent, film)"><img src=".\assets\images\lapiz16.png"> Editar</button>

        <button type="button" class="btn btn-outline-danger" id="btnBorrar" (click)="openDelete(deleteContent, film)"><img src=".\assets\images\eliminar16.png"> Borrar</button>
        </div>
  </div>

  <!--Modal de Editado-->
  <ng-template #editContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar pelicula</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="title">Título</label>
          <div class="input-group">
            <input formControlName="title" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="sinopsis">Sinopsis</label>
          <div class="input-group">
            <input formControlName="sinopsis" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="studio">Estudio</label>
          <div class="input-group">
            <input formControlName="studio" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="score">Puntuación</label>
          <div class="input-group">
            <input type="number" step="0.1" formControlName="score" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label>Capítulos</label>
          <div class="input-group">
            <input type="number" formControlName="chapters" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label>Duración</label>
          <div class="input-group">
            <input type="number" formControlName="duration" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label>Estreno</label>
          <div class="input-group">
            <input type="date" formControlName="debut" class="form-control" required>
          </div>
        </div>

        <div>
          <label for="genre_id">Elige un Género:</label>
            <select formControlName="genre_id" class="form-control" required>
                <option value="1">Acción</option>
                <option value="2">Aventura</option>
                <option value="3">Terror</option>
                <option value="4">Thriller</option>
                <option value="5">Romance</option>
                <option value="6">Infantil</option>
                <option value="7">Comedia</option>
                <option value="8">Drama</option>
                <option value="9">Crimen</option>
                <option value="10">Musical</option>
                <option value="11">Ciencia Ficción</option>
            </select>
          </div>

          <div>
          <label for="state_id">Elige un Estado:</label>
            <select formControlName="state_id" class="form-control" required>
                <option value="1">En Emisión</option>
                <option value="2">Finalizada</option>
                <option value="3">Cancelada</option>
                <option value="4">Nuevo Estreno</option>
            </select>
          </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" (click)="editarFilm(editId, editForm.value)">
            Editar pelicula
          </button>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
  </ng-template>

  <!--Modal de Borrado-->
  <ng-template #deleteContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar Usuario</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea eliminar este Usuario?</p>
      <button type="button" class="btn btn-danger" (click)="eliminarFilm(deleteId)">Si</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </ng-template>