<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            
            <form (ngSubmit)="onSubmit( f )"
                  #f="ngForm"
                  class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Crear nueva cuenta
                </span>

                <span *ngIf="f.submitted && f.controls['nickname'].errors"
                      class="text-danger animated fadeIn">El nickname es obligatorio</span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="nickname"
                           [(ngModel)]="usuario.nickname"
                           required
                           nickname
                           placeholder="Nickname">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['email'].errors"
                      class="text-danger animated fadeIn">El correo es obligatorio</span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="email" 
                           name="email"
                           [(ngModel)]="usuario.email"
                           required
                           email
                           placeholder="Email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['name'].errors"
                class="text-danger animated fadeIn">El nombre es obligatorio</span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="name"
                           [(ngModel)]="usuario.name"
                           minlength="2"
                           required
                           placeholder="Nombre">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['surname'].errors"
                class="text-danger animated fadeIn">El apellido es obligatorio</span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text" 
                           name="surname" 
                           [(ngModel)]="usuario.surname"
                           minlength="2"
                           required
                           placeholder="Apellidos">

                    <span class="focus-input100"></span>
                </div>
                
                <span *ngIf="f.submitted && f.controls['password'].errors"
                      class="text-danger animated fadeIn">Contraseña muy debil</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="password" 
                           name="password" 
                           [(ngModel)]="usuario.password"
                           minlength="6"
                           required
                           placeholder="Password">

                    <span class="focus-input100"></span>
                </div>

                <!--<span *ngIf="f.submitted && f.controls['password_confirmation'].errors"
                      class="text-danger animated fadeIn">Se requiere la validacion de contraseña</span>
                <span *ngIf="registerForm.errors?.invalid"
                      class="text-danger animated fadeIn">Las contraseñas no coinciden</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="password" 
                           name="password_confirmation" 
                           [(ngModel)]="usuario.password_confirmation"
                           minlength="6"
                           required
                           validateEqual="password"
                           placeholder="Confirmar contraseña">

                    <span class="focus-input100"></span>
                </div>-->

                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="date" 
                           name="borndate"
                           [(ngModel)]="usuario.borndate"
                           required
                           placeholder="Fecha de nacimiento">

                    <span class="focus-input100"></span>
                </div>
                
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="recordarme"
                               class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                            ¿Ya tienes cuenta? / Ingresar
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Crear cuenta
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

