<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Gestor de usuarios</h1>
        </div>
        <button type="button" class="btn btn-primary" style="margin: 10px" (click)="getFollowers()">Seguidores</button>
        <button type="button" class="btn btn-primary" style="margin: 10px" (click)="getFollowing()">Seguidos</button>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div *ngFor="let follwr of followers.data" class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="{{follwr.profilepic}}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">{{follwr.nickname}}</h5><span class="small text-uppercase text-muted">{{follwr.email}}</span>
                <ul class="social mb-0 list-inline mt-3">
                    <button *ngIf="!checkIfFollows(follwr)" (click)="follow(follwr)">Follow</button>
                    <button *ngIf="checkIfFollows(follwr)" (click)="unfollow(follwr)">Unfollow</button>
                </ul>
            </div>
        </div><!-- End -->
    </div>
</div>