<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">VisualCloud</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="admin==true" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="users">Administrar Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="films">Administrar Películas/Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="comments">Administrar Comentarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="reviews">Administrar Reseñas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="chapters">Administrar Capitulos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="roles">Administrar Roles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="filmstates">Administrar Filmstates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="genres">Administrar Genres</a>
          </li>
        </ul>
        <ul *ngIf="admin==false" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="users_catalogue">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="users_series">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="users_films">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="users_reviews">Reseñas</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="iniciado==false">
              <a class="nav-link" href="register">Registrar</a>
            </li>
            <li class="nav-item" *ngIf="iniciado==false">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item" *ngIf="iniciado==true">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
        <!--<form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>-->
      </div>
    </div>
