
{{user.id}}
<section id="about1" class="about1-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4"></h2>
          <p class="text-white-50"></p>
        </div>
      </div>
    </div>
  </section>

<div class="d-inline-flex bd-highlight col-md-12">
      <img src="{{user.profilepic}}" src-fallback="https://static.diariosur.es/www/pre2017/multimedia/RC/201501/12/media/cortadas/avatar--320x378.jpg" class="col-xs-12 col-md-2" id="fotoUser">
      <div  class="col-xs-12 col-md-10">
        <h1 class="text-success"><em>{{user.nickname}}</em></h1>
        <h2 id="resultadoh2">Nombre:&nbsp;&nbsp; <em>{{user.name}}</em></h2>
        <h3><strong>Apellido:&nbsp;&nbsp; </strong> {{user.surname}}</h3>
        <h3><strong>Email:&nbsp;&nbsp; </strong> {{user.email}}</h3>
        <h4><strong>Cumpleaños:&nbsp;&nbsp; </strong> {{user.borndate}}</h4>

        <button type="button" class="btn btn-outline-info" (click)="goBack()" id="btnVolver"><img src=".\assets\images\undo16.png"> Volver</button>

        <button type="button" class="btn btn-outline-warning" (click)="openEdit(editContent, user)"><img src=".\assets\images\lapiz16.png"> Editar</button>

        <button type="button" class="btn btn-outline-danger" id="btnBorrar" (click)="openDelete(deleteContent, user)"><img src=".\assets\images\eliminar16.png"> Borrar</button>
        </div>
  </div>

    <!--Modal de Editado-->
    <ng-template #editContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Editar Usuario</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
  
        <form [formGroup]="editForm" novalidate>
          <div class="form-group">
            <label for="nickname">Nickname</label>
            <div class="input-group">
              <input formControlName="nickname" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Nombre</label>
            <div class="input-group">
              <input formControlName="name" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label for="surname">Apellido</label>
            <div class="input-group">
              <input formControlName="surname" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <div class="input-group">
              <input type="email" formControlName="email" class="form-control" required>
            </div>
          </div>
          <div class="form-group">
            <label> Contraseña</label>
            <div class="input-group">
              <input type="password" formControlName="password" class="form-control" minlength="6" required>
            </div>
          </div>
          <div class="form-group">
            <label>Cumpleaños</label>
            <div class="input-group">
              <input type="date" formControlName="borndate" class="form-contro" required>
            </div>
          </div>
  
          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn" (click)="EditarUser(editId, editForm.value)">
              Editar Usuario
            </button>
          </div>
        </form>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Cerrar</button>
      </div>
    </ng-template>

    <!--Modal de Borrado-->
    <ng-template #deleteContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Eliminar Usuario</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar este Usuario?</p>
        <button type="button" class="btn btn-danger" (click)="EliminarUser(deleteId)">Si</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">No</button>
      </div>
    </ng-template>