<p>series works!</p>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">Titulo</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody *ngFor="let serie of series; let i = index">
      <tr class="table-info">
        <th scope="row">{{i+1}}</th>
        <td>{{serie.title}}</td>
        <td>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src=".\assets\images\sort24.png"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                <a class="dropdown-item" href="#"><img src=".\assets\images\ojo16.png"> Ver</a>
                <a class="dropdown-item" href="#"><img src=".\assets\images\lapiz16.png"> Editar</a>
                <a class="dropdown-item" href="#"><img src=".\assets\images\eliminar16.png"> Borrar</a>
              </div>
            </div>
        </td>
      </tr>
    </tbody>
  </table>