<button type="button" class="btn btn-warning" (click)="openCreate(createContent)" id="btnCrear">Crear Nueva Pelicula</button>

<!--Modal de Crear-->
<ng-template #createContent let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Nueva Pelicula</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">

            <form (ngSubmit)="crearFilm( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

              <span *ngIf="f.submitted && f.controls['title'].errors"
                    class="text-danger animated fadeIn">El titulo es obligatorio</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="text" 
                        name="title"
                        [(ngModel)]="pelicula.title"
                        required
                        title
                        placeholder="Title">

                  <span class="focus-input100"></span>
              </div>

              <span *ngIf="f.submitted && f.controls['sinopsis'].errors"
                    class="text-danger animated fadeIn">La sinopsis es obligatoria</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="text" 
                        name="sinopsis"
                        [(ngModel)]="pelicula.sinopsis"
                        required
                        sinopsis
                        placeholder="Sinopsis">

                  <span class="focus-input100"></span>
              </div>

              <span *ngIf="f.submitted && f.controls['studio'].errors"
              class="text-danger animated fadeIn">El estudio es obligatorio</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="text" 
                        name="studio"
                        [(ngModel)]="pelicula.studio"
                        required
                        placeholder="Studio">

                  <span class="focus-input100"></span>
              </div>

              <span *ngIf="f.submitted && f.controls['score'].errors"
              class="text-danger animated fadeIn">La puntuación es obligatoria</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="number" 
                        step="0.1"
                        maxlength="2"
                        name="score" 
                        [(ngModel)]="pelicula.score"
                        required
                        placeholder="Puntuación">

                  <span class="focus-input100"></span>
              </div>
              
              <span *ngIf="f.submitted && f.controls['chapters'].errors"
                    class="text-danger animated fadeIn">Indicar número de Capítulos</span>
              <div class="wrap-input100 m-b-16">
                  <input class="input100"
                        type="number" 
                        name="chapters" 
                        [(ngModel)]="pelicula.chapters"
                        required
                        placeholder="Capítulos">

                  <span class="focus-input100"></span>
              </div>

              <span *ngIf="f.submitted && f.controls['duration'].errors"
                    class="text-danger animated fadeIn">Indicar Duración</span>
              <div class="wrap-input100 m-b-16">
                  <input class="input100"
                        type="number" 
                        name="duration" 
                        [(ngModel)]="pelicula.duration"
                        required
                        placeholder="Duración">
                  <span class="focus-input100"></span>
              </div>
              
              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="date" 
                        name="debut"
                        [(ngModel)]="pelicula.debut"
                        required
                        placeholder="Fecha de estreno">
                  <span class="focus-input100"></span>
              </div>

              <div>
              <label for="genre_id">Elige un Género:</label>
                <select  name="genre_id" id="genre_id" [(ngModel)]="pelicula.genre_id">
                    <option value="1">Acción</option>
                    <option value="2">Aventura</option>
                    <option value="3">Terror</option>
                    <option value="4">Thriller</option>
                    <option value="5">Romance</option>
                    <option value="6">Infantil</option>
                    <option value="7">Comedia</option>
                    <option value="8">Drama</option>
                    <option value="9">Crimen</option>
                    <option value="10">Musical</option>
                    <option value="11">Ciencia Ficción</option>
                </select>
              </div>

              <div>
              <label for="state_id">Elige un Estado:</label>
                <select  name="state_id" id="state_id" [(ngModel)]="pelicula.state_id">
                    <option value="1">En Emisión</option>
                    <option value="2">Finalizada</option>
                    <option value="3">Cancelada</option>
                    <option value="4">Nuevo Estreno</option>
                </select>
              </div>

              <div class="container-login100-form-btn m-t-17">
                  <button class="login100-form-btn" type="submit">
                      Crear pelicula
                  </button>
              </div>
          </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>

<!--Tabla con todas las peliculas-->
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">Titulo</th>
        <th scope="col">Puntuación</th>
        <th scope="col">Estudio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let film of films | paginate: { itemsPerPage: 5, currentPage: pageActual }; let i = index">
      <tr class="table-info">
        <th scope="row">{{film.id}}</th>
        <td>{{film.title}}</td>
        <td>{{film.score}}</td>
        <td>{{film.studio}}</td>
        <td>
              <button type="button" class="btn btn-outline-success" id="btnVer" (click)="verFilm(film)"><img src=".\assets\images\ver16.png"> Ver</button>

              <button type="button" class="btn btn-outline-warning" (click)="openEdit(editContent, film)"><img src=".\assets\images\lapiz16.png"> Editar</button>

              <button type="button" class="btn btn-outline-danger" id="btnBorrar" (click)="openDelete(deleteContent, film)"><img src=".\assets\images\eliminar16.png"> Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="paginacion" (pageChange)="pageActual = $event" maxSize="9" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>
  
  

  <!--Modal de Editado-->
  <ng-template #editContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar pelicula</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="title">Título</label>
          <div class="input-group">
            <input formControlName="title" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="sinopsis">Sinopsis</label>
          <div class="input-group">
            <input formControlName="sinopsis" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="studio">Estudio</label>
          <div class="input-group">
            <input formControlName="studio" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="score">Puntuación</label>
          <div class="input-group">
            <input type="number" step="0.1" formControlName="score" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label>Capítulos</label>
          <div class="input-group">
            <input type="number" formControlName="chapters" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label>Duración</label>
          <div class="input-group">
            <input type="number" formControlName="duration" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label>Estreno</label>
          <div class="input-group">
            <input type="date" formControlName="debut" class="form-control" required>
          </div>
        </div>

        <div>
          <label for="genre_id">Elige un Género:</label>
            <select formControlName="genre_id" class="form-control" required>
                <option value="1">Acción</option>
                <option value="2">Aventura</option>
                <option value="3">Terror</option>
                <option value="4">Thriller</option>
                <option value="5">Romance</option>
                <option value="6">Infantil</option>
                <option value="7">Comedia</option>
                <option value="8">Drama</option>
                <option value="9">Crimen</option>
                <option value="10">Musical</option>
                <option value="11">Ciencia Ficción</option>
            </select>
          </div>

          <div>
          <label for="state_id">Elige un Estado:</label>
            <select formControlName="state_id" class="form-control" required>
                <option value="1">En Emisión</option>
                <option value="2">Finalizada</option>
                <option value="3">Cancelada</option>
                <option value="4">Nuevo Estreno</option>
            </select>
          </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" (click)="editarFilm(editId, editForm.value)">
            Editar pelicula
          </button>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
  </ng-template>


  <!--Modal de Borrado-->
  <ng-template #deleteContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar pelicula</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea eliminar este pelicula?</p>
      <button type="button" class="btn btn-danger" (click)="eliminarFilm(deleteId)">Si</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </ng-template>