<div class="container">
    <section id="about1" class="about1-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4"></h2>
                    <p class="text-white-50"></p>
                </div>
            </div>
        </div>
    </section>

    <div class="d-inline-flex bd-highlight col-md-12">
        <img src="{{film.image}}" class="col-xs-12 col-md-2">
        <div class="col-xs-12 col-md-10">
            <h1 class="text-success"><em>{{film.title}}</em></h1>
            <h2 id="resultadoh2">Nombre: <em>{{film.name}}</em></h2>
            <h3><strong>Sinopsis: </strong> {{film.sinopsis}}</h3>
            <h3><strong>Score: </strong> {{film.score}}</h3>
            <h4><strong>Duration: </strong> {{film.duration}}</h4>
        </div>
    </div>

    <div *ngIf='!commentsChapterActive' class="list-group">
        <div *ngFor="let chapter of chapters.data">
            <a (click)="seeChapterComments(chapter)" class="list-group-item list-group-item-action">
                <div class="chapterNumber">
                    {{chapter.num_capitulo}}
                </div>
                <div class="chapterTitle">
                    {{chapter.title}}
                </div>
            </a>
        </div>
    </div>
    <div *ngIf='commentsChapterActive'>
        <h4>Comentarios</h4>
        <button class="btn btn-primary" (click)="seeChapterComments(chapter)">Cerrar</button>
        <button class="btn btn-dark" (click)="openCreateComment(createContent)">Agregar Comentario</button>

        <div class="container">
            <div class="row">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                            Comentarios recientes</h3>
                        <span class="label label-info">
                            {{ comments.length }}</span>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li *ngFor="let comment of comments.data" class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
                                    </div>
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <a>User</a>
                                            <div class="mic-info">
                                                {{comment.created_at}}
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            {{comment.content}}
                                        </div>
                                        <div *ngIf='isUserComment(comment)' class="action">
                                            <!--<button type="button" class="btn btn-primary" title="Edit">
                                                <span class="glyphicon glyphicon-pencil">Editar</span>
                                            </button>-->
                                            <button (click)="deleteComment(comment)" type="button"
                                                class="btn btn-danger" title="Delete">
                                                <span class="glyphicon glyphicon-trash">Eliminar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-primary btn-sm btn-block" role="button"><span
                                class="glyphicon glyphicon-refresh"></span> More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">Reviews</h3>
                <span class="label label-info">
                    {{ comments.length }}</span>
            </div>
            <button class="btn btn-dark" (click)="openCreateReview(createContentReview)">Agregar Review</button>
            <div class="panel-body">
                <ul class="list-group">
                    <li *ngFor="let review of reviews.data" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a>User</a>
                                    <div class="mic-info">
                                        {{review.created_at}}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{review.content}}
                                </div>
                                <div *ngIf='isUserReview(review)' class="action">
                                    <!--<button type="button" class="btn btn-primary" title="Edit">
                                                <span class="glyphicon glyphicon-pencil">Editar</span>
                                            </button>-->
                                    <button (click)="deleteReview(review)" type="button" class="btn btn-danger"
                                        title="Delete">
                                        <span class="glyphicon glyphicon-trash">Eliminar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--Modal de Crear Review-->
<ng-template #createContentReview let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Escribe tu review</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">

        <form (ngSubmit)="createReview( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

            <span *ngIf="f.submitted && f.controls['content'].errors" class="text-danger animated fadeIn">Tienes que
                escribir algo</span>

            <div class="wrap-input100 m-b-16">
                <input class="input100" type="textarea" name="content" [(ngModel)]="review.content" required content
                    placeholder="Escribe aquí">

                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn" type="submit">
                    Publicar
                </button>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>

<!--Modal de Crear commentario-->
<ng-template #createContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Escribe tu comentario</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">

        <form (ngSubmit)="createComment( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

            <span *ngIf="f.submitted && f.controls['content'].errors" class="text-danger animated fadeIn">Tienes que
                escribir algo</span>

            <div class="wrap-input100 m-b-16">
                <input class="input100" type="textarea" name="content" [(ngModel)]="comment.content" required content
                    placeholder="Escribe aquí">

                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn" type="submit">
                    Publicar
                </button>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>