.commentDiv{
    padding-left: 20%;
    box-sizing: border-box;
    margin: auto;
}
.list-group-item-action:hover{
    background-color: slateblue;
}
.chapterTitle{
    text-align: center;
}
.chapterNumber{
    float: left;
    border-left: black;
}
#editComment{
    float: right;
}

body { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }