<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let film of films">
      <div class="card" style="width: 18rem;">
        <button (click)="seeFilm(film)">
        <img src="{{film.image}}" class="card-img-top" alt="{{film.title}}" height="400">
        </button>
        <div class="card-body">
          <h5 class="card-title" title="{{film.title}}">{{(film.title.length>27)? (film.title |
            slice:0:27)+'...':(film.title)}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{(film.sinopsis.length>60)? (film.sinopsis |
            slice:0:60)+'...':(film.sinopsis)}}</h6>
          <p class="card-text">{{film.score}}</p>
          <a href="#" class="btn ">Capítulos: {{film.chapters}}</a>
        </div>
      </div>
    </div>
  </div>
</div>