
<button type="button" class="btn btn-warning" (click)="openCreate(createContent)" id="btnCrear">Crear Nuevo Usuario</button>

<!--Modal de Crear-->
<ng-template #createContent let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Nuevo Usuario</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">

            <form (ngSubmit)="CrearUser( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

              <span *ngIf="f.submitted && f.controls['nickname'].errors"
                    class="text-danger animated fadeIn">El nickname es obligatorio</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="text" 
                        name="nickname"
                        [(ngModel)]="usuario.nickname"
                        required
                        nickname
                        placeholder="Nickname">

                  <span class="focus-input100"></span>
              </div>

              <span *ngIf="f.submitted && f.controls['email'].errors"
                    class="text-danger animated fadeIn">El correo es obligatorio</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="email" 
                        name="email"
                        [(ngModel)]="usuario.email"
                        required
                        email
                        placeholder="Email">

                  <span class="focus-input100"></span>
              </div>

              <span *ngIf="f.submitted && f.controls['name'].errors"
              class="text-danger animated fadeIn">El nombre es obligatorio</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="text" 
                        name="name"
                        [(ngModel)]="usuario.name"
                        minlength="2"
                        required
                        placeholder="Nombre">

                  <span class="focus-input100"></span>
              </div>

              <span *ngIf="f.submitted && f.controls['surname'].errors"
              class="text-danger animated fadeIn">El apellido es obligatorio</span>

              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="text" 
                        name="surname" 
                        [(ngModel)]="usuario.surname"
                        minlength="2"
                        required
                        placeholder="Apellidos">

                  <span class="focus-input100"></span>
              </div>
              
              <span *ngIf="f.submitted && f.controls['password'].errors"
                    class="text-danger animated fadeIn">Contraseña muy debil</span>
              <div class="wrap-input100 m-b-16">
                  <input class="input100"
                        type="password" 
                        name="password" 
                        [(ngModel)]="usuario.password"
                        minlength="6"
                        required
                        placeholder="Password">

                  <span class="focus-input100"></span>
              </div>
              
              <div class="wrap-input100 m-b-16">
                  <input class="input100" 
                        type="date" 
                        name="borndate"
                        [(ngModel)]="usuario.borndate"
                        required
                        placeholder="Fecha de nacimiento">

                  <span class="focus-input100"></span>
              </div>

              <div class="container-login100-form-btn m-t-17">
                  <button class="login100-form-btn" type="submit">
                      Crear Usuario
                  </button>
              </div>
          </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
</ng-template>

<!--Tabla con todos los Usuarios-->
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">Nickname</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: pageActual }; let i = index">
      <tr class="table-info">
        <th scope="row">{{user.id}}</th>
        <td>{{user.nickname}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
              <button type="button" class="btn btn-outline-success" id="btnVer" (click)="VerUser(user)"><img src=".\assets\images\ver16.png"> Ver</button>

              <button type="button" class="btn btn-outline-warning" (click)="openEdit(editContent, user)"><img src=".\assets\images\lapiz16.png"> Editar</button>

              <button type="button" class="btn btn-outline-danger" id="btnBorrar" (click)="openDelete(deleteContent, user)"><img src=".\assets\images\eliminar16.png"> Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="paginacion" (pageChange)="pageActual = $event" maxSize="9" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>
  
  

  <!--Modal de Editado-->
  <ng-template #editContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Editar Usuario</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="nickname">Nickname</label>
          <div class="input-group">
            <input formControlName="nickname" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="name">Nombre</label>
          <div class="input-group">
            <input formControlName="name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Apellido</label>
          <div class="input-group">
            <input formControlName="surname" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <div class="input-group">
            <input formControlName="email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label> Contraseña</label>
          <div class="input-group">
            <input type="password" formControlName="password" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label>Cumpleaños</label>
          <div class="input-group">
            <input type="date" formControlName="borndate" class="form-control">
          </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" (click)="EditarUser(editId, editForm.value)">
            Editar Usuario
          </button>
        </div>
      </form>
      

      <!--<form (ngSubmit)="EditarUser( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">
        <span *ngIf="f.submitted && f.controls['nickname'].errors"
              class="text-danger animated fadeIn">El nickname es obligatorio</span>
        <div class="wrap-input100 m-b-16">
           <label for="nickname">Nickname</label>
            <input class="input100" 
                  type="text"
                  name="nickname"
                  formControlName="nickname"
                  [(ngModel)]="usuario.nickname"
                  required
                  nickname
                  placeholder="Nickname">

            <span class="focus-input100"></span>
        </div>
        <span *ngIf="f.submitted && f.controls['email'].errors"
              class="text-danger animated fadeIn">El correo es obligatorio</span>
        <div class="wrap-input100 m-b-16">
            <input class="input100" 
                  type="email" 
                  name="email"
                  [(ngModel)]="usuario.email"
                  required
                  email
                  placeholder="Email">
            <span class="focus-input100"></span>
        </div>
        <span *ngIf="f.submitted && f.controls['name'].errors"
        class="text-danger animated fadeIn">El nombre es obligatorio</span>
        <div class="wrap-input100 m-b-16">
            <input class="input100" 
                  type="text" 
                  name="name"
                  [(ngModel)]="usuario.name"
                  minlength="2"
                  required
                  placeholder="Nombre">

            <span class="focus-input100"></span>
        </div>
        <span *ngIf="f.submitted && f.controls['surname'].errors"
        class="text-danger animated fadeIn">El apellido es obligatorio</span>
        <div class="wrap-input100 m-b-16">
            <input class="input100" 
                  type="text" 
                  name="surname" 
                  [(ngModel)]="usuario.surname"
                  minlength="2"
                  required
                  placeholder="Apellidos">
            <span class="focus-input100"></span>
        </div>
        <span *ngIf="f.submitted && f.controls['password'].errors"
              class="text-danger animated fadeIn">Contraseña muy debil</span>
        <div class="wrap-input100 m-b-16">
            <input class="input100"
                  type="password" 
                  name="password" 
                  [(ngModel)]="usuario.password"
                  minlength="6"
                  required
                  placeholder="Password">
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 m-b-16">
            <input class="input100" 
                  type="date" 
                  name="borndate"
                  [(ngModel)]="usuario.borndate"
                  required
                  placeholder="Fecha de nacimiento">
            <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn" type="submit">
                Editar Usuario
            </button>
        </div>
    </form>-->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Cerrar</button>
    </div>
  </ng-template>


  <!--Modal de Borrado-->
  <ng-template #deleteContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Eliminar Usuario</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <p>¿Está seguro de que desea eliminar este Usuario?</p>
      <button type="button" class="btn btn-danger" (click)="EliminarUser(deleteId)">Si</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">No</button>
    </div>
  </ng-template>